<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :tags %><br />
    <%= f.text_area :tags %>
  </div>
  <h3>Make yout post seo-friendly</h3>
  <%= f.fields_for :seo do |seo| %>
    <div class="field">
      <%= seo.label :title %><br />
      <%= seo.text_field :title %>
    </div>
    <div class="field">
      <%= seo.label :keywords %><br />
      <%= seo.text_field :keywords %>
    </div>
    <div class="field">
      <%= seo.label :description %><br />
      <%= seo.text_area :description %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
